<div class="plot-group border border-secondary p-2" style="width: 100%; border-radius: 15px;">

  <div class="plot-controls">
    <h6><strong>Order By:</strong></h6>

    <div ngbRadioGroup [(ngModel)]="orderBy" class="btn-group" >
      <label ngbButtonLabel class="btn-primary btn-sm">
        <input ngbButton (change)="sortAndDisplay()" type="radio" value="confirmed"> Confirmed
      </label>
      <label ngbButtonLabel class="btn-primary btn-sm">
        <input ngbButton (change)="sortAndDisplay()" type="radio" value="recovered"> Recovered
      </label>
      <label ngbButtonLabel class="btn-primary btn-sm">
        <input ngbButton (change)="sortAndDisplay()" type="radio" value="deceased"> Deceased
      </label>
    </div>

    <div ngbRadioGroup [(ngModel)]="dsc" class="btn-group ml-2" >
      <label ngbButtonLabel class="btn-dark btn-sm">
        <input ngbButton (change)="sortAndDisplay()" type="radio" value="0"> Ascending
      </label>
      <label ngbButtonLabel class="btn-dark btn-sm">
        <input ngbButton (change)="sortAndDisplay()" type="radio" value="1"> Descending
      </label>
    </div>

  </div>
  
  <plotly-plot *ngIf="data"
      [data]="graph.data" 
      [layout]="graph.layout" 
      [useResizeHandler]="true" 
      [style]="{position: 'relative', width: '100%', height: '100%'}">
  </plotly-plot>

</div>

